root = true

[*]
end_of_line = crlf
charset = utf-8

[*.cs]
indent_style = tab
indent_size = 4

[{*.csproj, *.targets}]
indent_style = space
indent_size = 4

[{*.xaml, *.nuspec}]
indent_style = space
indent_size = 4

[{*.kt, *.kts}]
indent_style = space
indent_size = 2
