/GammaJul.ReSharper.ForTea/*.user
/*.suo
/GammaJul.ReSharper.ForTea/bin
/GammaJul.ReSharper.ForTea/obj
/GammaJul.ReSharper.ForTea/TestFiles
/_ReSharper.GammaJul.ReSharper.ForTea
/GammaJul.ReSharper.ForTea.Setup/GammaJul.ReSharper.ForTea.Setup-cache
/GammaJul.ReSharper.ForTea.Setup/GammaJul.ReSharper.ForTea.Setup-SetupFiles
/*.user
