<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr2.Runtime" version="2.7.7.02" targetFramework="net45" />
  <package id="Antlr2.Tools" version="2.7.6.4" targetFramework="net45" />
  <package id="Appccelerate.StateMachine" version="3.3.0" targetFramework="net45" />
  <package id="DotNetZip" version="1.10.1" targetFramework="net45" />
  <package id="JetBrains.Annotations" version="11.0.0" targetFramework="net45" />
  <package id="JetBrains.Build.Platform.Tasks.ProxyToSolutionCompiledTask" version="2.0.20170530.0" targetFramework="net45" developmentDependency="true" />
  <package id="JetBrains.Build.Platform.Tasks.ThemedIconsPacker" version="2.0.20151217.1" targetFramework="net45" developmentDependency="true" />
  <package id="JetBrains.ExternalAnnotations" version="10.2.34" targetFramework="net45" />
  <package id="JetBrains.MahApps.Metro" version="1.5.0.1" targetFramework="net45" />
  <package id="JetBrains.Microsoft.Deployment.Compression.Cab" version="3.11.0" targetFramework="net45" />
  <package id="JetBrains.NuGet.Core" version="2.14.1" targetFramework="net45" />
  <package id="JetBrains.NuGet.Frameworks" version="4.3.0.10000" targetFramework="net45" />
  <package id="JetBrains.NuGet.Ultimate" version="4.3.0.10000" targetFramework="net45" />
  <package id="JetBrains.NuGet.Versioning" version="4.3.0.10000" targetFramework="net45" />
  <package id="JetBrains.NUnit.ReSharperRunner2" version="2.6.408" targetFramework="net45" />
  <package id="JetBrains.NUnit.ReSharperRunner3" version="3.0.12.1" targetFramework="net45" />
  <package id="JetBrains.Platform.Core.Ide" version="109.0.20170824.131327" targetFramework="net45" />
  <package id="JetBrains.Platform.Core.Shell" version="109.0.20170824.130529" targetFramework="net45" />
  <package id="JetBrains.Platform.Core.Text" version="109.0.20170824.131327" targetFramework="net45" />
  <package id="JetBrains.Platform.Interop.CommandLine" version="109.0.20170824.131327" targetFramework="net45" />
  <package id="JetBrains.Platform.Interop.dotMemoryUnit.Framework" version="109.0.20170824.131327" targetFramework="net45" />
  <package id="JetBrains.Platform.Interop.dotMemoryUnit.Interop.Ide" version="109.0.20170824.131327" targetFramework="net45" />
  <package id="JetBrains.Platform.Lib.DevExpress" version="2.0.20170610" targetFramework="net45" />
  <package id="JetBrains.Platform.Lib.WpfContrib" version="2.0.20170610" targetFramework="net45" />
  <package id="JetBrains.Platform.MSBuild.Logger" version="1.0.20170331.0" targetFramework="net45" developmentDependency="true" />
  <package id="JetBrains.Platform.RdProtocol" version="109.0.20170824.131327" targetFramework="net45" />
  <package id="JetBrains.Platform.Sdk" version="109.0.20170824.131327" targetFramework="net45" />
  <package id="JetBrains.Platform.Tests.Framework" version="109.0.20170824.131327" targetFramework="net45" />
  <package id="JetBrains.Platform.VisualStudio" version="109.0.20170706.75212-eap07" targetFramework="net45" />  
  <package id="JetBrains.Platform.UIInteractive.Ide" version="109.0.20170824.131327" targetFramework="net45" />
  <package id="JetBrains.Platform.UIInteractive.Shell" version="109.0.20170824.131327" targetFramework="net45" />
  <package id="JetBrains.Platform.UIInteractive.Text" version="109.0.20170824.131327" targetFramework="net45" />
  <package id="JetBrains.Psi.Features.Core" version="109.0.20170824.132357" targetFramework="net45" />
  <package id="JetBrains.Psi.Features.src" version="109.0.20170824.132357" targetFramework="net45" />
  <package id="JetBrains.Psi.Features.Tasks" version="109.0.20170824.132357" targetFramework="net45" />
  <package id="JetBrains.Psi.Features.test.Framework" version="109.0.20170824.132357" targetFramework="net45" />
  <package id="JetBrains.Psi.Features.UIInteractive.Core" version="109.0.20170824.132357" targetFramework="net45" />
  <package id="JetBrains.Psi.Features.UnitTesting" version="109.0.20170824.132357" targetFramework="net45" />
  <package id="JetBrains.ReSharper.SDK" version="2017.2.0" targetFramework="net45" developmentDependency="true" />
  <package id="JetBrains.ReSharper.SDK.Internal" version="109.0.20170824.140122" targetFramework="net45" />
  <package id="JetBrains.SharpZipLib.Stripped" version="0.87.20170720.14" targetFramework="net45" />
  <package id="JetBrains.Should" version="1.1.20" targetFramework="net45" />
  <package id="JetBrains.System.Reflection.Metadata" version="20170417.0.0.0" targetFramework="net45" />
  <package id="JetBrains.System.Windows.Interactivity" version="3.0.40218.0" targetFramework="net45" />
  <package id="JetBrains.Toolset.ScriptSourcesCompiler.Interface" version="1.0.20170420.0" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.FileSystems" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.StaticFiles" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="NVelocity" version="1.0.3" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="sharpcompress" version="0.11.6" targetFramework="net45" />
  <package id="Sprache.JetBrains" version="2.1.0" targetFramework="net45" />
  <package id="Vestris.ResourceLib.JetBrains" version="1.4.20150303.0" targetFramework="net45" />
  <package id="Wave" version="9.0.0.0" targetFramework="net45" />
  <package id="Windows7APICodePack.JetBrains.Stripped" version="1.1.20150225.0" targetFramework="net45" />
  <package id="xmlrpcnet" version="2.5.0" targetFramework="net45" />
  <package id="xunit.abstractions" version="2.0.1" targetFramework="net45" />
  <package id="xunit.JetBrains" version="1.9.2" targetFramework="net45" />
  <package id="xunit.runner.utility" version="2.2.0" targetFramework="net45" />
  <package id="YamlDotNet.Signed" version="4.2.1" targetFramework="net45" />
</packages>